.icon-container{
    display: block;
    unicode-bidi: isolate;
}

.icon-container-button{
    // flex-shrink: 0;
    // width: 32px;
    // height: 32px;
    // margin-bottom: 0;
    // line-height: 32px;

    background-color: var(--dynamic-button);
    color: var(--dynamic-text);
    // background-color: red;
    // color: white;

    padding: 6px;

    font-size: 14px;
    // display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    text-decoration: none;
    white-space: normal;
    cursor: pointer;
    border: none;
    font-weight: 500;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}

.icon-grid{
    display: grid;
    grid-template-columns: minmax(16px, 32px) minmax(0px, 1fr);
    // grid-gap: 2px;
}
.icon-container-svg{
    grid-area: 1 / 1;
    align-items: center;
    justify-content: center;
}

.icon-label{
    grid-area: 1 / 2;
    align-content: center;
    //add display: none; when horizontal screen size decreases
}