.board-sidebar-navigation {
  position: relative;
  z-index: 5;
  // width: 16px;
  height: 100%;
  min-height: 100%;
  box-shadow: 1px 0px 0px 0px var(--dynamic-text-transparent);
  //var(hsla(0, 0%, 100%, 0.16),hsla(218, 54%, 19.6%, 0.16));
  
}

.board-sidebar-open-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 100ms ease-in;
  // transform: translate3d(0, 0, 0);
  width: 260px;
  // background-color: hsla(331, 53.5%, 37%, 0.9);
  background-color: hsla(331, 53.5%, 37%, 1);
  // background-color: #912c5d;
  
}


.board-sidebar-open {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  // overflow: auto;
  // transition: background-color 600ms;
  // background-color: var(
  //   --dynamic-background-transparent,
  //   var(--ds-surface, #ffffff)
  // );
  // -webkit-backdrop-filter: blur(6px);
  // backdrop-filter: blur(6px);
  .sidebar-link{
    display: flex;
    gap: 8px;
    color: white;
    width: 100%;

    text-decoration: none;
      align-items: center;
      .board-background-img{
        display: inline-block;
        position: relative;
        // flex: 1;
        width: 24px;
        height: 20px;
        border-radius: 2px;
        opacity: 0.7;
        background-size: cover;
        box-shadow: 0 0 0 0.5px hsla(0, 0%, 100%, 0.16);
        // background-color: #006644;
      }
      .sidebar-link-text{
        flex: 1;
      }
      .sidebar-link-button-container{
        margin: 0 6px;
        padding: 4px;
      }
      .sidebar-link-button-container:hover{
        background-color: hsla(0, 0%, 100%, 0.16);
        border-radius: 4px;
      }
  }

  .sidebar-body-link{
    padding-left: 16px;
    font-size: 14px;
    height: 32px;
  }
  .sidebar-body-link:hover{
    background-color: hsla(0, 0%, 100%, 0.16);
    border-radius: 4px;
  }
  .chosen-board-link{
    background-color: hsla(0, 0%, 100%, 0.3);
  }
  .side-bar-header {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 8px 12px 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.16);
    
    .workspace-logo{
      display: flex;
      background: linear-gradient(var(--ds-background-accent-green-bolder, #006644), var(--ds-background-accent-green-subtle, #00875a));
      width: 32px;
      height: 32px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      justify-content: center;
      align-items: center;
    }
    
  }
  .side-bar-body {
    -webkit-transform: translate3d(0, 0, 0);
    scrollbar-color: var(--ds-background-neutral-hovered, #091e4224)
      var(--ds-background-neutral, #091e420f);
    scrollbar-width: thin;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidebar-collection-title{
    margin-top: 6px;
    padding: 4px 0 4px 12px;
    font-size: 14px;
    color: white;
  }
}

.board-sidebar-collapsed-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform 100ms ease-in;
  // transform: translate3d(0, 0, 0);
  width: 16px;
  background-color: hsla(331, 53.5%, 37%, 0.9);
}
.board-sidebar-collapsed {
  display: flex;
  // flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100%;
  border: 1px solid hsla(0, 0%, 100%, 0.16);
}
.board-sidebar-collapsed:hover {
  background-color: hsla(330, 54%, 32%, 0.986);
  // box-shadow: 1px 0px 0px 0px var(--dynamic-text-transparent);
}
.sidebar-collapse-button-container {
  display: flex;
  width: fit-content;
  justify-content: center;
  // justify-content: center;
  // align-self: flex-end;
  .sidebar-collapse-button:hover {
    background-color: hsla(0, 0%, 100%, 0.16);
  }
}
.arrow-button-container {
  background-color: hsla(331, 53.5%, 37%, 0.9);
  border: 1px solid hsla(0, 0%, 100%, 0.16);
  border-radius: 50%;
  margin: 15px 0 0 16px;
}
.arrow-button-container:hover {
  background-color: hsla(330, 54%, 32%, 0.986);
  // box-shadow: 1px 0px 0px 0px var(--dynamic-text-transparent);
}
