@use 'boardHeaderStyles/board-name-container';
@use 'boardHeaderStyles/star-container';

$--dynamic-button-hovered: rgba(255, 255, 255, 0.20);
$--dynamic-button-pressed: rgba(255, 255, 255, 0.20);
$--dynamic-button-pressed-hovered: rgba(255, 255, 255, 0.20);
.board-header {
  display: inline-flex;
  background-color: hsla(331, 53.5%, 37%, 0.9);
  position: relative;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  color: var(--dynamic-text);
  color: white;
  align-items: center;
  width: calc(100% - 23px);
  height: auto;
  padding: 12px;
  gap: 4px;
}

.board-header-left {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-items: center;
  max-width: 100%;
  gap: 4px;
  min-height: 32px;
}

.board-header-right {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  align-items: flex-end;
  min-height: 32px;
  margin-left: auto;
  gap: 4px;
}

.header-clickable {
  background-color: transparent;
  height: 32px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  align-items: center;
  & > span { 
    // align-items: center;
    // justify-content: center;
    
 } 
}

.header-clickable:hover {
  background-color: rgba(255, 255, 255, 0.20);
}

.header-clickable.pressed {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.header-clickable.pressed:hover {
  background-color: rgba(255, 255, 255, 0.90);
}

