@use 'boardHeaderStyles/board-name-container';
@use 'boardHeaderStyles/icon-container';

$--dynamic-button-hovered: rgba(255, 255, 255, 0.20);
$--dynamic-button-pressed: rgba(255, 255, 255, 0.20);
$--dynamic-button-pressed-hovered: rgba(255, 255, 255, 0.20);
.board-header {
    position: relative;
  display: inline-flex;
  background-color: hsla(0, 0%, 0%, 0.911);
  // background-color: #cd5a91;
  
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  color: var(--dynamic-text);
  color: white;
  align-items: center;
  // width: calc(100% - 23px);
  width: 100%;
  height: auto;
  padding: 12px;
  gap: 4px;
}

.board-header-left {
    position: relative;
  display: flex;
  
  flex-wrap: nowrap;
  align-items: flex-start;
  align-items: center;
  max-width: 100%;
  gap: 4px;
  min-height: 32px;
}

.board-header-right {
    position: relative;
  display: flex;
  
  flex-wrap: nowrap;
  align-items: center;
  align-items: flex-end;
  min-height: 32px;
  margin-left: auto;
  gap: 4px;
}
.header-button{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  padding: 6px;
}
.header-clickable {
  display: flex;
  background-color: transparent;
  height: 32px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  align-items: center;
  & > span { 
    // align-items: center;
    // justify-content: center;
    
 } 
}

.header-clickable:hover {
  background-color: rgba(255, 255, 255, 0.20);
}

.header-clickable.pressed {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.header-clickable.pressed:hover {
  background-color: rgba(255, 255, 255, 0.90);
}

.header-divider {
    display: inherit;
    height: 16px;
    margin: 8px 4px 8px 4px;
    border-left: 1px solid hsla(0,0%,100%,0.16);
}