.task-preview {
  // display: flex;
  position: relative;
  justify-content: space-between;
  // background-color: white;
  background-color: var(#ffffff, #ffffff);
  align-items: center;
  border: 1px solid;
  border-color: transparent;
  border-radius: 8px;
  // gap: 10px;
  // padding: 8px 12px 4px;
  box-shadow: var(
    --ds-shadow-raised,
    0px 1px 1px #091e4240,
    0px 0px 1px #091e424f
  );
  // padding: 10px 20px;
}
.task-preview:hover {
  border: 1px solid;
  border-color: blue;
}
// .task-front-cover{
//   height: 36px;
//     overflow: hidden;
//     border-top-left-radius: 8px;
//     border-top-right-radius: 8px;
// }

.task-front-cover {
  height: 36px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  // border-Radius:5px 5px 0px 0px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

  &--image {
    // height: 160px;
    height: 225px;
    max-height: 225px;
    background-size: contain;
  }

  &--color {
    // height: 116px;
    background-size: cover;
  }

  position: relative;
  overflow: hidden;
}

.task-preview-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px 12px 4px;
}
.task-preview-header {
  // display: flex;
  // padding-top: 5px;
  // align-items: center;
  // margin-bottom: 4px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 4px;
}
.task-preview-header-completion-status {
  display: flex;
  z-index: 1;
  // padding-right: 6px;
  justify-content: center;
  justify-items: center;
}
.task-preview-header-action-buttons-container {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 2px;
  right: 2px;
}
.task-preview-header-action-button{
  padding: 5px;
  // background-color: #596773;
  z-index: 11;
  border-radius: 14px;
  
}
.task-preview-header-action-button:hover{
    //091e420f
  background-color: #091e420f;
  border-radius: 14px;
}

.task-preview-labels-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  // padding-left: 5px;
  margin-bottom: 4px;
}

.task-preview-label {
  display: inline-flex;
  max-width: calc(100% - 4px);
  span {
    min-width: 40px;
    max-width: 40px;
    height: 8px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    color: transparent;
    border-radius: 5px;
  }
}

.task-preview-info {
  display: flow-root;
  flex-direction: column;
  flex-grow: 1;
  // background-color: rgb(93, 190, 190);
  // gap: 10px;
  // padding: auto;
  // align-items: center;
}

.task-preview-info-users {
  display: flex;
    // flex-direction: "column";
  //   margin: "1em";
  //   align-items: flex-end;
  flex-wrap: wrap;
  justify-content: right;
  align-self: flex-end;
  // padding-right: 15px;
  margin-right: -4px;
  margin-bottom: 4px;
  float: right;
  gap: 4px;
  list-style: none;
}
.task-preview-user {
  padding: 2px;
  flex-wrap: wrap;
}
.task-preview-info-badges {
  // background-color: aqua;
  display: flex;
  // gap: 5px;
  // padding: 4px;
  margin-bottom: 4px;
  flex-wrap: wrap;
  max-width: 100%;
  float: left;
  column-gap: 4px;
}
.task-preview-header-title {
  a{
    font-size: 14px;
    margin-bottom: 4px;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
.task-preview-info-badges-date {
  border: 1px transparent;
  align-content: center;
  justify-content: center;
  padding: 2px;
  height: 24px;
  border-radius: 3px;
  margin-bottom: 4px;
}
.task-complete-svg {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.task-preview circle {
  cx: 8;
  cy: 8;
  r: 7.25;
  // stroke: currentcolor;
  stroke-width: 1.5;
}

.task-preview-img {
  background-size: cover;
}

.archive-task[data-tooltip] {
  background-color: transparent !important;
}
.archive-task[data-tooltip]::after {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: 8px; // space between tooltip and element
  top: 50%;
  transform: translateY(-50%);
}