.task-list {
  display: flex;
  flex-direction: column;

  scroll-margin: 80px;
  // border: 1px solid;
  border-radius: 12px;
  // flex-wrap: wrap;
  background-color: #f1f2f4;
  width: 272px;
  // background-color: var(--accent-background, var(--tr-background-list));
  justify-content: space-between;
  vertical-align: top;
  max-height: 100%;
  // align-items: center;
  // padding: 0 6px;
  // margin: 20px;
  // padding: 10px;
  list-style: none;
  padding-bottom: 8px;
  scroll-margin: 8px;
}

.scrollable-task-list {
  display: flex;
  flex-direction: column;
  // max-height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0px 4px;
  row-gap: 8px; /* Enables vertical scrolling */
  scrollbar-width: thin; /* Optional: For Firefox */
  scrollbar-color: #091e4224 #091e420f; /* Optional: Customize scrollbar */
}

.task-list-header {
  margin-bottom: 8px;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  // padding: 8px 8px 0;
  min-height: 40px;
  row-gap: 0;
  padding: 8px 8px 0;
}

.task-list-header-name {
  // padding-left: 5px;
  // padding-top: 5px;
  color: #172b4d;
  font-size: 14;
}
.add-a-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 0;
  column-gap: 4px;
}

.add-a-card-button {
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin: 0;
  padding: 6px 12px 6px 8px;
  border-radius: 8px;
  background-color: transparent;
  text-decoration: none;
  -webkit-user-select: none;
  cursor: pointer;
  // color: #f8f5f5;
  // background-color: #ffffff3d;
  user-select: none;
}
.add-a-card-button-list {
  color: #f8f5f5;
  background-color: #ffffff3d;
}
.add-a-card-button-list:hover {
  background-color: #ffffff1a;
}
.add-a-card-button:hover {
  background-color: var(
    --accent-background-hovered,
    var(--ds-background-neutral-hovered, #091e4224)
  );
  // color: var(--accent-text-bolder, var(--ds-text, #172b4d));
}
