.task-preview{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    background-color: var(#FFFFFF, #ffffff);
    align-items: center;
    border: 3px solid;
    border-radius: 30px;
    gap: 10px;
    margin: 5px;
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    // padding: 10px 20px;
}
.task-preview-header{
    display: flex;
    // background-color: rgb(52, 199, 199);
    gap: 10px;
    align-items: center;
}
.task-preview-info{
    display: flex;
    flex-direction: column;
    // background-color: rgb(93, 190, 190);
    // gap: 10px;
    // padding: auto;
    align-items: center;
}

.task-preview-info-badges{
    // background-color: aqua;
    display: flex;
    gap: 10px;
    
}