.editor-background{
    // position: fixed;
    // z-index: 11;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // background: hsla(0, 0%, 0%, 0.6);
}

.task-preview-editor-container{
    position: fixed;
    inset: 0px auto auto 0px;
    display: flex;
    // transform: translate3d(320px, 162.909px, 0px);
    
}
.task-preview-editor-save-button{
    background-color: #0c66e4;
    color: #1D2125;
    margin-top: 8px;
    margin-bottom: 0;
}