$--dynamic-text: #ffffff;
$--ds-background-input: #ffffff;
$--dynamic-icon: #ffffff;
$--dynamic-star: var(--dynamic-icon);

:root {
  $--dynamic-text: #ffffff;
  $--ds-background-input: #ffffff;
  $--dynamic-icon: #ffffff;
  $--dynamic-star: var(--dynamic-icon);
}

