.popover-boundary {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  outline: none;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  overflow-y: auto;
}

.board-wrapper {
  display: block;
//   bottom: 0;
//   left: 0;
//   overflow: hidden;
//   position: absolute;
//   right: 0;
//   top: 0;
  font-size: 14px;
  background-color: #cd5a91;
}

.board-main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 0;
  position: relative;
}

.work-space {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  overflow-y: auto;
  //   height: 100%;
  //   bottom: 0;
  //   left: 0;
  //   overflow: hidden;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  background-color: #cd5a91;
}
