.div-1 {
    display: flex
    ;
        position: fixed;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background: rgba(0, 0, 0, 0.75);
        scrollbar-gutter: stable both-edges; 
        width: 100dvw;
        height: 100dvh;


        .div-2-inside-div-1{
            
    --dynamic-button: transparent;
    --dynamic-button-hovered: var(--ds-background-neutral-hovered, #091E4224);
    --dynamic-button-pressed: var(--ds-background-selected, #E9F2FF);
    --dynamic-button-pressed-hovered: var(--ds-background-selected-hovered, #CCE0FF);
    --dynamic-button-pressed-text: var(--ds-text-selected, #0C66E4);
    --dynamic-button-primary: var(--ds-background-brand-bold, #0C66E4);
    --dynamic-button-primary-text: var(--ds-text-inverse, #FFFFFF);
    --dynamic-button-primary-hovered: var(--ds-background-brand-bold-hovered, #0055CC);
    --dynamic-button-primary-pressed: var(--ds-background-brand-bold-pressed, #09326C);
    --dynamic-button-highlighted: var(--ds-background-neutral-bold, #44546F);
    --dynamic-button-highlighted-text: var(--ds-text-inverse, #FFFFFF);
    --dynamic-button-highlighted-hovered: var(--ds-background-neutral-bold-hovered, #2C3E5D);
    --dynamic-icon: var(--ds-icon-subtle, #626F86);
    --dynamic-text: var(--ds-text-subtle, #44546F);
    --dynamic-text-transparent: hsla(218, 54%, 19.6%, 0.16);
    width: 768px;
    outline: 0;
    overflow: visible;
    position: relative;
    box-sizing: border-box;
    width: 768px;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--ds-surface-overlay, #ffffff);
    box-shadow: var(--ds-shadow-overlay, 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31));

    .div3-inside-div-2{
        color :rgba(23, 43, 77)
color-scheme :light;
display :block;
font-family :-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
font-size :14px;
font-weight 400
height: 924.358px;
line-height: 20px;
text-size-adjust :100%;
unicode-bidi: isolate;
width :767.986px;
     .class-inside-div3-button{
        position: absolute;
        z-index: 1;
        top: 8px;
        right: 8px;
        margin: 0;
        border-radius: 50%;
        color: var(--accent-text, var(--dynamic-text));
        padding: 6px;
        .inside-button-we-have-span{
            display: inline-block;
    line-height: 1;
    .inisde-another-span{
        display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    //and svg inside of x 24px on 24px

    }
        }
     }

     .div4-inside-div3{
        min-height: 600px;
    border-radius: 12px;
    background-color: var(--ds-background-neutral, #091e420f)
    outline: -webkit-focus-ring-color auto 1px;


    .div5-inside-div4{
        padding: 16px 52px 0 16px;
        display: block;
    unicode-bidi: isolate;
}
        .section{
            row-gap: revert;
            display: grid
;
    row-gap: 12px;
    grid-template-columns: [icon] 40px [body] minmax(0, 1fr);
    margin-bottom: 24px;

    .inside-section-div1{
        display: block;
    unicode-bidi: isolate;
    .inside-div-div2{
        display: flex
;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    .inside-div2-div3{
        display: inline-flex
;
    position: relative;
    align-items: center;
    justify-content: center;
    .inside-div3-button{
        display: flex
;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 2px 6px 0 0;
    padding: 0;
    .inside-button-div{
        display: flex
;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .inside-div-span-svg{
        opacity: 1;
        overflow: hidden;
    pointer-events: none;
    color: currentcolor;
    vertical-align: bottom;
    width: var(--ds-space-200, 16px);
    height: var(--ds-space-200, 16px);
    overflow-clip-margin: content-box;
    overflow: hidden;

    }
    }
    }
    }
    }
    }
}     
.inside-section-hgroup{
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    row-gap: 2px;
    .h2{
        display: none;
        margin-bottom: 0;
        font-weight: 600;
    margin: 0px 0px 8px;
    font-size: 20px;
    line-height: 24px;
}
.textarea{
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: -6px -10px;
    padding: 6px 10px;
    transform: translate3d(0, 0, 0);
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    resize: none;
    -webkit-appearance: none;
    height:36px;

}

    }
    .div{
        grid-column-end: none;
        grid-column-start: body;
        word-break: break-word;
        .p{
            display: flex
            ;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 4px;
                margin-bottom: 0;
                column-gap: 4px;
                color: var(--ds-text-subtle, #44546f); 
                .span-noclass{
                    .button{
                        display: inline-flex
;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    line-height: 20px;
    text-decoration: none;
    -webkit-appearance: none;
    .span{
        box-sizing: border-box;
    appearance: none;
    border: none;
    background-color: var(--ds-background-neutral, #DFE1E6);
    padding-inline: var(--ds-space-050, 4px);
    display: inline-flex
;
    border-radius: var(--ds-border-radius, 3px);
    block-size: min-content;
    position: static;
    overflow: hidden;
    }
                    }
                }
        }
        .span{
            margin-left: 4px;
        }

    }

}

        }

    }
    .div6-inside-div4{

    }
    .after-section-another-block-of-divs{
        display: grid
;
    grid-template-columns: [main] 568px [sidebar] minmax(0, 1fr);
    grid-template-rows: auto auto;
    column-gap: 16px;
    row-gap: 8px;
        .div1{
            grid-column-start: main;
    padding-bottom: 8px;
    padding-left: 16px;

}

        }
        .div2{
            grid-column-start: sidebar;
            padding-right: 16px;
            padding-bottom: 24px;

            .seciton1{
                display: block;
                margin-top: 24px;
                hgroup{
                    display: flex
;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    h4{
        margin-top: 16px;
    color: var(--ds-text-subtle, #44546f);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    }
                }
                ul{
                    display: flex
                    ;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        row-gap: 8px;
                        .div-1{display: block;
                            unicode-bidi: isolate;
                        .li{
                            display: list-item;
                            text-align: -webkit-match-parent;
                            unicode-bidi: isolate;
                            .button{
                                justify-content: flex-start;
    text-align: left;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    scroll-margin: 8px;
    .span-then-another-span{
        display: inline-block;
    flex-shrink: 0;
    line-height: 1; 
    .css-snhnyn > svg {
        overflow: hidden;
        pointer-events: none;
        max-width: 100%;
        max-height: 100%;
        color: var(--icon-primary-color);
        fill: var(--icon-secondary-color);
        vertical-align: bottom;
    }
    }
                            }
                        }}
                        .div-2{display: block;
                            unicode-bidi: isolate;
                            display: block;
                            unicode-bidi: isolate;
                        .li{
                            display: list-item;
                            text-align: -webkit-match-parent;
                            unicode-bidi: isolate;
                            .button{
                                justify-content: flex-start;
    text-align: left;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    scroll-margin: 8px;
    .span-then-another-span{
        display: inline-block;
    flex-shrink: 0;
    line-height: 1; 
    .css-snhnyn > svg {
        overflow: hidden;
        pointer-events: none;
        max-width: 100%;
        max-height: 100%;
        color: var(--icon-primary-color);
        fill: var(--icon-secondary-color);
        vertical-align: bottom;
    }
    }}
                        .div-3{display: block;
                            unicode-bidi: isolate;
                            display: block;
                            unicode-bidi: isolate;
                        .li{
                            display: list-item;
                            text-align: -webkit-match-parent;
                            unicode-bidi: isolate;
                            .button{
                                justify-content: flex-start;
    text-align: left;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    scroll-margin: 8px;
    .span-then-another-span{
        display: inline-block;
    flex-shrink: 0;
    line-height: 1; 
    .css-snhnyn > svg {
        overflow: hidden;
        pointer-events: none;
        max-width: 100%;
        max-height: 100%;
        color: var(--icon-primary-color);
        fill: var(--icon-secondary-color);
        vertical-align: bottom;
    }
    }}
                        .div-4{display: block;
                            unicode-bidi: isolate;
                            display: block;
                            unicode-bidi: isolate;
                        .li{
                            display: list-item;
                            text-align: -webkit-match-parent;
                            unicode-bidi: isolate;
                            .button{
                                justify-content: flex-start;
    text-align: left;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    scroll-margin: 8px;
    .span-then-another-span{
        display: inline-block;
    flex-shrink: 0;
    line-height: 1; 
    .css-snhnyn > svg {
        overflow: hidden;
        pointer-events: none;
        max-width: 100%;
        max-height: 100%;
        color: var(--icon-primary-color);
        fill: var(--icon-secondary-color);
        vertical-align: bottom;
    }
    }}
                        .div-5{display: block;
                            unicode-bidi: isolate;
                            display: block;
                            unicode-bidi: isolate;
                        .li{
                            display: list-item;
                            text-align: -webkit-match-parent;
                            unicode-bidi: isolate;
                            .button{
                                justify-content: flex-start;
    text-align: left;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    scroll-margin: 8px;
    .span-then-another-span{
        display: inline-block;
    flex-shrink: 0;
    line-height: 1; 
    .css-snhnyn > svg {
        overflow: hidden;
        pointer-events: none;
        max-width: 100%;
        max-height: 100%;
        color: var(--icon-primary-color);
        fill: var(--icon-secondary-color);
        vertical-align: bottom;
    }
    } }  // same but different path svg but globaly looks the same
                    }
                }
                

            }
            .seciton2{
                margin-top: 24px;
                
            }
            .seciton3{
                margin-top: 24px;
                
            }
            .seciton4{
                margin-top: 24px;
                
            }
        }

        }
    }
     }
    }
        }
}

