// === Modal Overlay Background ===
.td-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); // darkened backdrop
  display: flex;
  padding-left: 15px;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 87px;
  justify-content: center;

  overflow-y: auto;
  z-index: 999;
}

// === Click-to-Close Backdrop ===
.td-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

.td-container {
    position: relative;
  border-radius: 5px;
  padding: 0 0 40px;
  width: 768px;
  background-color: #f7f8f9;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
  
  overflow: visible;
  margin-left: -8px;
}

.td-container.has-cover {
  padding: 0px 0 0px;
  border-radius: 5px;
}

.td-header {
    position: relative;
    border-Radius:8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 52px 0 0px;
  background-color: #f7f8f9;
  
  padding-left: 3px;
  
}

// === Left Side of Header: Checkbox + Title
.td-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.td-checkbox-div {
  width: 40px;
  height: 24px;
  padding-left: 13px;
  

  

  flex-shrink: 0;
  cursor: pointer;

  .td-checkbox {
    padding-left: 6px;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 1px;
    cursor: pointer;
  }
}

.td-title-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 12px;
  height: 32px;

  transform: translate3d(0, 0, 0);

  transition-timing-function: ease;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 12px;
  resize: none;
  padding-left: 8px;

  margin-bottom: 2px;
  margin-left: -7px;

  color: #626f86;

  &:focus {
    outline: 2px solid #388bff;
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #388bff33;
  }

  &::placeholder {
    color: #a5adba;
  }
}

//  Close Button
.td-close-btn {
  position: absolute;
  top: 8px;
  right: 15px;

  font-size: 20px;
  background: transparent;
  border: none;
  color: #6b778c;
  cursor: pointer;

  &:hover {
    background-color: #e2e4e9;
    border-radius: 5px;
    color: #172b4d;
  }
}

//  In List Text
.td-inlist-text {
  margin-left: 57px;
  font-size: 14px;
  color: #44546f;
  padding-bottom: 20px;
  
  
 
 
}

//  Main Layout
.td-main {
  display: flex;
  width: 100%;
  height: 100%;
}

//  Left Column
.td-main-left {
  width: 568px;
  padding-left: 38px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .td-section {
    padding: 16px;
  }
  .td-section-top {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4px;
    column-gap: 8px;
    row-gap: 9px;
  
   
    margin-top: -5px;
  }

  .td-section-top-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    padding-left: 16px;
  }

  .td-section-header {
    font-weight: bold;
    font-size: 14px;
    color: #42526e;
    margin-bottom: 12px;
  }

  .td-section-top-h3 {
    font-size: 12px;
    font-weight: 500;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 4px;
    line-height: 20px;
    color: #44546f;
  }

  .td-section-members-add:hover,
  .td-section-members-button:hover {
    cursor: pointer;
    background-color: #dcdfe4;
  }
}

.td-sidebar {
  width: 164px;
  grid-column-start: sidebar;
   margin-left: 16px;
    padding-bottom: 24px;
  .section-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #44546f;
    padding-top: 15px;
  }
.topSectionSidebar{
    display: flex
;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    row-gap: 8px;
}
.divider{
    margin-top: 10px;
    margin-bottom: 6px;
}
  .trello-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px; //  space between icon and text
    padding: 4px 8px; //  tighter padding
    font-size: 14px; //  slightly smaller text
    font-weight: 500;
    width: 150px;
    height: 30px;
    color: #172b4d;
    background-color: #091e420f;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 85ms ease;
    text-decoration: none;
    height: 32px;
    width: 168px;

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: #091e4224;
    }

    &:active {
      background-color: #091e424f;
    }

    &:focus {
      outline: 2px solid #388bff;
    }
  }

  .divider {
    border-top: 1px solid #ccc;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 168px;
  }
}

.td-icons > svg {
  overflow: hidden;
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
}
td-sidebar-h4 {
  text-align: start;
}
.trello-btn-text {
  text-align: center;
  justify-content: center;
  padding-left: 6px;
}
.td-sidebar-power {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #44546f;
  padding-top: 15px;
  margin-left: 2px;
}

.trello-btn-powerup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 55px;
  gap: 3px; //  space between icon and text
  padding: 4px 16px; //  tighter padding
  font-size: 14px; //  slightly smaller text
  font-weight: 500;
  width: 150px;
  height: 30px;
  color: #172b4d;
  background-color: #f7f8f9;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 85ms ease;
  text-decoration: none;
  height: 32px;
  width: 168px;

  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: #091e4224;
  }

  &:active {
    background-color: #091e424f;
  }

  &:focus {
    outline: 2px solid #388bff;
  }
}

.td-section-members-button {
  padding: 0;
  border: 0;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.td-section-members-addd {
  margin-right: -4px;
  padding: 3px 4px;
  border: none;
  justify-content: center;
  display: inline-flex;
  height: 30px;
  width: 30px;
  line-height: 14px;
  font-size: 10px;
  align-items: center;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    background-color: #dcdfe4;
  }
}

/* Tooltip container */
[data-tooltip] {
  position: relative; /* establish positioning context */
  cursor: pointer;
  //color: #42526e;
  background-color: #42526e;
}

/* Hover highlight */
[data-tooltip]:hover {
  background-color: #e1e2e6; /* Trello-style hover color */
  border-radius: 3px;
}

/* Tooltip text */
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #172b4d;
  white-space: nowrap;
  height: 24px;
  margin-left: 8px;
  left: 100%;

  display: flex;
  align-items: center;
  padding: 2px 0;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;
}

/* Tooltip arrow */

/* Show tooltip on hover */
[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  opacity: 1;
}

.TaskdetailsBackLog{
    justify-content: center;
    align-self: start;
}
.SvgDrop-BACKLOG{
    margin-top: 5px;
}


.DoneSvg{
color: var(--ds-icon-success, #22A06B);
width: 16px;
height: 16px;
}
.UndoneSvg{
    color: var(--ds-icon-subtle, #626F86);
width: 16px;
height: 16px;
}

.td-sidebarbuttons{
    width: 164px;
    display: flex
;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 8px;
    gap: 7px;
}

.TaskDescriptionSpacing{
    margin-top: -42px;
}