.containerActivity {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  width: 100%;
  min-height: 150px;
  grid-column-end: none;
  grid-column-start: body;
  word-break: break-word;
  margin-top: 12px;
}

.containerActivityCommand {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  margin-bottom: 8px;
}

.containerMembers {
  position: relative;
  overflow: visible;
  line-height: 10px;
  vertical-align: top;
  white-space: nowrap;
}
.containerActivityADD {
  min-height: 1.5rem;
  padding: 6px 12px;
}
.containerActivityADDCommand {
  justify-content: left;
  width: 100%;
  height: 36px;
  border-radius: 8px;
  font-weight: 500;
  background-color: #ffffff;
  color: #626f86;
  box-shadow: 0px 0px 1px #091e424f;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  padding: 6px 12px;

  &:hover {
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    background-color: var(--ds-background-input-hovered, #f7f8f9);
    color: var(--ds-text, #172b4d);
    text-decoration: none;
  }
}

.containerActivityEntry {
  font-size: 14px;
  
  color: #172b4d;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  padding: 8px 0;
}

.containerActivityActionName {
  color: #172b4d;
  font-weight: bold;
  font-size: 14px;
}

.containerActivityTime {
  font-size: 12px;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid #44546f;
  }
}

.containerActivityImage {
  display: block;
  box-sizing: border-box;
  max-width: 500px;
  max-height: 500px;
  margin: 8px 0 4px;
  clear: both;
  border: 1px solid var(--ds-border, #091e4224);
  border-radius: 3px;
}

.attackMentsInsideActivity {
margin-bottom: -25px;
    margin-left: -39PX;
    background-color: transparent;
    border-radius: 50% !important;
  height: 32px;
  width: 32px;
  line-height: 32px;
  display: inline-flex;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow:
    0px 1px 1px #091e4240,
    0px 0px 1px #091e424f;
  cursor: pointer;
}

.attachment-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* <-- ensures whole image is visible */
}
