.notification-button {
    background-color: #091e420f; // Add the base color here
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    
    border-radius: 3px;
    text-decoration: none;
    white-space: normal;
    font-size: 11px;
    border: none;
    box-shadow: none;
    color: #44546F;
    font-weight: 800;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    gap: 8px;
    margin-right: 4px;
    margin-top: -1px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: -10px;
    padding-left: 2px;
  
    &:hover {
        background-color: #091e4224;
        cursor: pointer;
      
    }
  
    &:active {
      background-color: #091e424f;
    }
  }

  .TaskdetailsBackLog-button {
    background-color: #dcdfe4; // Add the base color here
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 16px;
    border-radius: 3px;
    padding: 0px 4px;
    font-size: 11px;
    border: none;
    box-shadow: none;
    color: #44546F;
    font-weight: 600;
    padding-top: 2px;
    padding-inline: var(--ds-space-050, 4px);
    gap: 2px;
    
  
    
    
  
    &:hover {
        background-color: #091e4224;
        cursor: pointer;
      
    }
  
    &:active {
      background-color: #091e424f;
    }
  }

  .SvgDropBacklog{


margin-top: 2px;
  }