
.DropdownUi{
    display: grid;
    grid-template-rows: 48px auto;
    width: 100%;
    height: 100%;
    z-index: 5000;
    


    .DropdownUiHeader {
        height: 48px;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .DropdownHeaderH2{
            font-size: 14px;
            font-weight: 500;
            padding: 0 32px;
            margin-left: 15px;
            text-align: center;
            color:#44546f;
            flex: 1;
        }
        .DropdownClose{
            border:none;
            background:transparent;
            cursor: pointer;
            padding: 6px;
            
        }


    }

    .DropdownOptions{
        padding: 0px 12px 12px 12px;
        display: grid;
        
        min-height: 116px;
        gap: 4px;
        .noResult{
            height: 68px;
            width: 280px;
            margin: 0;
            padding: 24px 6px;
            border-radius: 3px;
            text-align: center;
            color:#44546f;
            background-color: #A1BDD914;
            
        }

        .DropdownMembers{
            display: flex;
            align-items: center;
    
    
            .DropdownMembersh3{
                margin-top: 16px;
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                color: #44546F;
            }
    
        }
        .DropdownButton{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 40px;
            margin: 0px;
            border: none;
            padding: 4px 8px 4px 4px;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;
            background-color:transparent;
            &:hover{
                background-color: #091E420F;

            }
            .memberIcon{
                max-height: 30px;
                max-width: 30px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
                margin-right: 8px;
                line-height: 30px;

            }

            .memberTitle{
                font-size: 14px;
                width: 206px;
                height: 20px;
                text-align: left;
                margin-right: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-top: 2px;
               
               
            }
        }
    }

    
}

.CheckListDropdown{
    height: 32px;
    border: none;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    padding: 0px 8px;
    font-size: 14px;
    color: #44546f;

}


.dropDownContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 304px;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    border-radius:8px;
    overflow: hidden;
    z-index: 1000;
}


.DropdownLabelOption{
padding: 0px 12px 12px 12px;
display: grid;
grid-template-rows: repeat(2,32px);
gap: 4px;
.DropdownLabelH3{
    margin-top: 16px;
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                color: #44546F;
}
.DropdownUL{
    padding: 4px 0 8px;

    .DropDownULlabel{
        box-sizing: border-box;
        width: 100%;
        margin: 0px;
        padding: 0 0 4px 4px;
        cursor: pointer;
    }
    
    
}
}

.DropdownLabelButton{
    border:none;
    background-color: #091e420f;
    box-shadow: none;
    color:#172b4d;
    text-decoration: none;
    cursor: pointer;
    height: 32px;
    font-weight: 600;
    &:hover{
        background-color: #091e4224;

    }
    &:active {
        background-color: #091e424f;
      }
  
      &:focus {
        outline: 2px solid #388bff;
      }
}

.DropdownHr{
    margin: 8px 0;
    background-color: #091e4224;
    
}


.DropdownLabelItem {
    height: 36px;
    width: 280px;
    display: flex;
    align-items: center;
    gap: 4px;
    
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
    
  
    
  }
  
  .DropdownLabelColorBox {
    width: 212px;
    height: 32px;
    border-radius: 3px;
    text-align: left;
    padding-left: 12px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    &:hover {
        filter: brightness(125%); 
        cursor: pointer;
      }
    
  }
  
  .DropdownLabelName {
    flex: 1;
    font-size: 14px;
    color: #172b4d;
  }
  
  .DropdownLabelEditBtn {
    font-size: 12px;
    background: none;
    border: none;
    color: #5e6c84;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 8px;
    gap: 4px;
  
    &:hover {
        background-color: #f4f5f7;
      }
  }
  .DropdownLabelCheckbox{
  width: 16px;
  height: 16px;
  margin-right: 8px;
  
  margin-left: 4px;
  }
  
  

  .DropdownUiEdit{
    display: grid;
    grid-template-rows: 48px auto;
    width: 100%;
    height: 100%;
    z-index: 5001;


    .DropdownUiHeader {
        height: 48px;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .DropdownHeaderH2{
            font-size: 14px;
            font-weight: 500;
            padding: 0 32px;
            
            text-align: center;
            color:#44546f;
            flex: 1;
        }
        .DropdownClose{
            border:none;
            background:transparent;
            cursor: pointer;
            padding: 6px;
        }


    }
.EditDropdownOptions{
    padding: 0px 12px 12px 12px;
display: grid;
grid-template-rows: repeat(2,32px);
gap: 4px;
.EditDropdownLabelH3{
    margin-top: 16px;
                font-size: 12px;
                line-height: 16px;
                font-weight: 600;
                color: #44546F;
}
.EditDropdownInput{
    padding: 8px 12px;
}
.EditDropdownLabelColor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-right: -12px;
    .EditDropdownLabelBox{
       height: 36px;
       width: 54px;
        .EditDropdownLabelBoxbutton{
            width: 50px;
        height: 32px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
            filter: brightness(85%);
        }

        }
    }
}
  .EditDropdownLabelBoxbuttonADD{
    border: none;
    
    height: 32px;
    padding-bottom: 5px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    &:hover{
        filter: brightness(90%);
        cursor: pointer;
    }
   
    

  }
}
.EditDropdownHeader{
    
    padding: 32px;
    height: 101px;
    
    background-color: #F7F8F9;
    .EditDropdownHeaderspan{
        display: inline-block;
    position: relative;
    box-sizing: border-box;
    min-width: 48px;
    width: 232px;
    height: 32px;
    margin-bottom: 0;
    padding: 0 12px;
    overflow: hidden;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#164B35;
    text-align: left;
    }
    
}
.EditDropDownBottom{
    display: flex;
    justify-content: space-around;
    height: 32px;
    width: 272px;
    gap: 150px;
    .EditDropDownBottom1{
        border: none;
        box-shadow: none;
        color: #FFFFFF;
        background-color: #0C66E4;
        padding: 6px 12px;
        height: 32px;
        width: 53.36px;
        font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    &:hover {
        filter: brightness(90%); 
        cursor: pointer;
      }
    

    }
    .EditDropDownBottom2{
        border: none;
        box-shadow: none;
        color: #FFFFFF;
        background-color: #C9372C;
        
        height: 32px;
        width: 65px;
        font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    &:hover {
        filter: brightness(90%); 
        cursor: pointer;
      }
    }
    }
}
