.task-due-tag {
    
    
    
    font-weight: 500;
    display: inline-block;
    
    height: 16px;
    margin: auto 6px auto 8px;
    padding: 0  6px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    
    &.overdue {
      background-color: #c9373c;
      color: white;
    }
  
    &.due-soon {
      background-color: #f5cd47;
      color: #172b4d;
    }
  
    &.overdue-late {
      background-color: #FFECEB;
      color: #ae2e24;
    }
    &.complete{
        background-color: #1f845a;
      color: #ffffff;
    }
  }
  