.notification-button1{
    background-color: #091E420F;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 3px;
    text-decoration: none;
    white-space: normal;
    height: 32px;
    width: 128px;
    border: none;
    box-shadow:none;
    color:#172b4d;
    font-weight: 500;
    gap: 8px;
    .notification-button-span{
        display: inline-flex;
        align-items: center;
        justify-content: center;

    }
    &:hover {
        background-color: #091e4224;
        cursor: pointer;
      
    }
  
    &:active {
      background-color: #091e424f;
    }

}
.Date-Button{
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 3px;
    text-decoration: none;
    white-space: normal;
    height: 32px;
    border: none;
    box-shadow: none;
    color:#172b4d;
    font-weight: 500;
    gap: 8px;
    font-size: 14px;
    background-color: #091E420F;
    .notification-button-span{
        display: inline-flex;
        align-items: center;
        justify-content: center;

    }

    &:hover {
        background-color: #091e4224;
        cursor: pointer;
      
    }
  
    &:active {
      background-color: #091e424f;
    }
}

.DateBoard{
    display: flex;
    justify-content: center;
    margin-top: -8px;
    width: 304px;
    height: 632px;
    
   
    .DateBoardDiv{
        display: flex;
    flex-direction: column;
    height: 292px;
    width: 316px;
    padding: 16px;

    .DateDates{
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 277px;
        height: 24px;
        padding: 0 8px;
        .DateDatesleft{
            align-items: center;
            width: 56px;
            height: 24px;
            
            .DateDatesButton{
            padding: 2px 6px;
            
            vertical-align: bottom;
            border: none;
            height: 24px;
            width: 24px;
            background-color: white;
            align-items: baseline;
            justify-content: center;
            flex-shrink: 0;
            text-align: center;
            vertical-align: middle;
            column-gap: 4px;
            border-radius: 3px;
            &:hover{
                background-color: #091e4224;
        cursor: pointer;
            }

        }}
        

    }
    }
}